.test_room-page {
	display: flex;
	flex-direction: column;
	gap: 2.5rem 0;

	h1,
	h2,
	h3,
	h4,
	p {
		margin: 0;
	}
}

.tst_room-pg-glr {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 8rem);
	overflow: hidden;
	gap: 0.8rem;

	:nth-child(1) {
		grid-column: 1/3;
		grid-row: 1/-1;
	}
	:nth-child(2) {
		grid-column: 3/4;
		grid-row: 1/3;
	}
	:nth-child(3) {
		grid-column: 4/5;
		grid-row: 1/3;
	}
	:nth-child(4) {
		grid-row: 3/5;
	}
	:nth-child(5) {
		grid-row: 3/5;
	}

	img {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		cursor: pointer;
		transition: 0.1s ease-in-out;

		&:hover {
			filter: brightness(0.8);
		}
	}
}

.tst_room-pg-main-ctr {
	display: flex;
	justify-content: space-between;
	width: 100%;

	.tst_room-pg-main {
		display: flex;
		flex-direction: column;
		gap: 2rem 0;
		width: 65%;
	}

	.tst_room-pg-main-hdr {
		display: flex;
		flex-direction: column;
		padding: 2rem;
		border: 1px solid #e1e1e1;
		background-color: white;

		gap: 1.5rem 0;
		border-radius: 10px;
		min-height: 23rem;
		font-size: 1rem;
		transition: 0.2s ease-in-out;

		h1 {
			font-size: 2.5rem;
			font-weight: 600;
		}

		.tst_room-pg-main-hdr-hdr {
			display: flex;
			justify-content: space-between;

			div {
				display: flex;
				gap: 0 1rem;
				align-items: center;

				div {
					gap: 0 0.3rem;
					cursor: pointer;
				}
			}
		}

		.tst_room-pg-main-hdr-rate {
			display: flex;
			align-items: center;
			gap: 0 2rem;

			div {
				display: flex;
				gap: 0 0.3rem;
				align-items: center;
				font-size: 1rem;

				p {
					margin: initial;
					color: black;
				}
			}
		}

		.tst_room-pg-main-hdr-hst {
			display: flex;
			align-items: center;
			gap: 0 0.5rem;
			border-bottom: 1px solid #f1f1f1;
			padding-bottom: 1.5rem;

			span {
				display: flex;
				align-items: center;
				justify-content: center;
				color: white;
				border-radius: 50%;
				width: 2.5rem;
				height: 2.5rem;
				background-color: #7c7c7c;
				font-size: 1.3rem;
				font-weight: 500;
			}

			p {
				font-size: 1.1rem;
				margin: initial;
			}
		}

		.tst_room-pg-main-hdr-amt {
			display: flex;
			gap: 0 2rem;
		}

		&:hover {
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
		}
	}

	.tst_room-pg-main-cbk {
		display: flex;
		flex-direction: column;
		width: 30%;
		border-radius: 10px;
		padding: 2.5rem;
		background-color: white;
		border: 1px solid #e1e1e1;
		gap: 1.5rem 0;
		transition: 0.2s ease-in-out;

		.pg-main-cbk-ctr-btn {
			background-color: #f1f1f1;
			border-radius: 20px;

			button {
				width: 50%;
				background-color: transparent;
				border: none;
				outline: none;
				height: 3rem;
				font-size: 1rem;
				transition: 0.1s ease-in-out;
				border-radius: 20px;
				font-weight: 600;
				color: #7c7c7c;
			}
		}

		.pg-main-cbk-ctr-dates {
			display: flex;
			align-items: center;
			gap: 0 1rem;
			font-size: 1.1rem;

			div {
				p {
					color: black;
				}

				span {
					font-size: 0.9rem;
				}
			}

			svg {
				width: 2rem;
				height: 2rem;
			}
		}

		.cbk-addgst-btn-ctr {
			position: relative;

			.cbk-addgst-btn {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 1rem;
				height: 3rem;
				border: 1px solid #e1e1e1;
				border-radius: 20px;
				background-color: transparent;
				font-size: 1rem;
				color: #7c7c7c;
				transition: 0.2s ease-in-out;
				position: relative;
				width: 100%;

				svg {
					width: 1.5rem;
					height: 1.5rem;
				}

				&:hover {
					border: 1px solid #574efa;
					color: #574efa;
				}
			}

			.addgst-mdl {
				display: flex;
				flex-direction: column;
				position: absolute;
				background-color: white;
				padding: 1rem;
				width: 100%;
				left: 0;
				box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
				top: 3rem;
				border-radius: 10px;
				gap: 1rem 0;

				.addgst-mdl-card {
					display: flex;
					justify-content: space-between;

					div {
						p {
							place-self: start;
							color: #6c6c6c;
						}
					}

					.addgst-mdl-ctl {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-between;
						width: 7rem;

						p {
							place-self: initial;
						}

						span {
							background-color: #f1f1f1;
							border-radius: 100px;
							width: 2rem;
							height: 2rem;
							display: flex;
							justify-content: center;
							align-items: center;
							font-size: 1.5rem;
							transition: 0.2s ease-in-out;
							cursor: pointer;
							user-select: none;

							&:hover {
								border: 1px solid #7c7c7c;
							}
						}
					}

					div {
						display: flex;
						flex-direction: column;

						span {
							font-size: 0.8rem;
							color: #7c7c7c;
						}
					}
				}

				&:hover {
					p,
					span {
						color: #7c7c7c;
					}
				}
			}
		}

		.pg-main-cbk-ctr-prices {
			display: flex;
			flex-direction: column;
			font-size: 1rem;
			color: #7c7c7c;
			padding-bottom: 1.5rem;
			border-bottom: 1px solid #e1e1e1;

			div {
				display: flex;
				justify-content: space-between;
			}
		}

		.pg-main-cbk-total {
			display: flex;
			flex-direction: column;
			gap: 1rem 0;

			div {
				display: flex;
				justify-content: space-between;
				font-size: 2rem;
				font-weight: 600;
				color: black;

				span {
					color: #10b981;
				}
			}

			button {
				height: 3rem;
				border: none;
				outline: none;
				color: white;
				font-weight: 600;
				font-size: 1.2rem;
				background-color: #574efa;
				border-radius: 20px;
				transition: 0.1s ease-in-out;

				&:hover {
					background-color: #400ef1;
				}
			}
		}

		.pg-main-cbk-ctr-days {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.5rem 0;

			h4 {
				place-self: start;
			}

			div {
				display: flex;
				gap: 1rem;
				flex-wrap: wrap;

				div {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					gap: initial;
					border-radius: 20px;
					border: 1px solid #e1e1e1;
					cursor: pointer;
					width: 3rem;
					height: 5rem;
				}
			}
		}

		&:hover {
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
		}
	}

	.tst_room-pg-main-desc {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		background-color: white;
		padding: 2rem;
		border-radius: 10px;
		border: 1px solid #e1e1e1;
		transition: 0.2s ease-in-out;

		h2 {
			margin: 0;
		}

		span {
			height: 1px;
			width: 5rem;
			background-color: #e1e1e1;
		}

		p {
			font-size: 1rem;
		}

		&:hover {
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
		}
	}

	.tst_room-pg-main-fclt {
		display: flex;
		flex-direction: column;
		padding: 2rem;
		background-color: white;
		border: 1px solid #e1e1e1;
		border-radius: 10px;
		gap: 1.5rem 0;
		transition: 0.2s ease-in-out;

		.main-fclt-title {
			display: flex;
			flex-direction: column;
			gap: initial;

			p {
				font-size: 0.9rem;
			}
		}

		span {
			height: 1px;
			width: 5rem;
			background-color: #e1e1e1;
		}

		div {
			display: flex;
			gap: 1.5rem;
			font-size: 1rem;
		}

		&:hover {
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
		}
	}

	.tst_room-pg-main-rates-prices {
		display: flex;
		flex-direction: column;
		padding: 2rem;
		background-color: white;
		border: 1px solid #e1e1e1;
		border-radius: 10px;
		gap: 1.5rem 0;
		transition: 0.2s ease-in-out;

		.main-rt-pr-title {
			display: flex;
			flex-direction: column;
			gap: initial;

			p {
				font-size: 0.9rem;
			}
		}

		span {
			height: 1px;
			width: 5rem;
			background-color: #e1e1e1;
		}

		.main-rt-pr-table {
			display: flex;
			flex-direction: column;

			:nth-child(2n) {
				background-color: #f1f1f1;
			}

			div {
				display: flex;
				justify-content: space-between;
				padding: 1rem 0.5rem;
				border-radius: 10px;
				font-size: 1rem;

				:nth-child(2n) {
					background-color: initial;
				}
			}
		}

		&:hover {
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
		}
	}

	.tst_room-pg-main-hst {
		display: flex;
		flex-direction: column;
		padding: 2rem;
		background-color: white;
		border: 1px solid #e1e1e1;
		border-radius: 10px;
		gap: 1.5rem 0;
		transition: 0.2s ease-in-out;
		font-size: 1rem;

		span {
			height: 1px;
			width: 5rem;
			background-color: #e1e1e1;
		}

		.mn-hst-box {
			display: flex;
			align-items: center;
			gap: 0 0.5rem;

			span {
				width: 3rem;
				height: 3rem;
				background-color: #574efa;
				color: white;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 1.2rem;
				border-radius: 20px;
			}

			div {
				display: flex;
				flex-direction: column;

				div {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 0 0.3rem;
				}
			}
		}

		.mn-hst-info {
			display: flex;
			flex-direction: column;
			gap: 1rem 0;

			div {
				display: flex;
				align-items: center;
				gap: 0 0.5rem;

				svg {
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}

		button {
			width: 10rem;
			outline: none;
			border: 1px solid #e1e1e1;
			background-color: transparent;
			border-radius: 20px;
			height: 3rem;
		}

		&:hover {
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
		}
	}

	.tst_room-pg-main-rvw {
		display: flex;
		flex-direction: column;
		padding: 2rem;
		background-color: white;
		border: 1px solid #e1e1e1;
		border-radius: 10px;
		gap: 1.5rem 0;
		transition: 0.2s ease-in-out;
		font-size: 1rem;

		span {
			height: 1px;
			width: 5rem;
			background-color: #e1e1e1;
		}

		.tst_room-rvw-card {
			display: flex;
			gap: 0 1rem;
			align-items: flex-start;
			border-bottom: 1px solid #f1f1f1;
			padding-bottom: 1rem;

			span {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 1.8rem;
				width: 2rem;
				border-radius: 20px;
				background-color: #574efa;
				color: white;
			}

			.rvw-card-main {
				display: flex;
				flex-direction: column;
				gap: 1rem 0;

				.rvw-card-mn-hdr {
					display: flex;
					justify-content: space-between;
					align-items: flex-start;

					div {
						display: flex;
						flex-direction: column;

						span {
							background-color: initial;
							border-radius: initial;
						}
					}

					:last-child {
						flex-direction: row;
						align-items: center;
						gap: 0 0.5rem;
					}
				}
			}
		}

		&:hover {
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
		}
	}
}

.animeDown {
	opacity: 0;
	transform: translateY(-20px);
	animation: animeDown 0.5s forwards;
	transition: 0.5s ease-in-out;
}
@keyframes animeDown {
	to {
		opacity: 1;
		transform: initial;
	}
}

.animeRight {
	opacity: 0;
	transform: translateX(-20px);
	animation: animeRight 0.5s forwards;
	transition: 0.5s ease-in-out;
}
@keyframes animeRight {
	to {
		opacity: 1;
		transform: initial;
	}
}

@media (max-width: 1680px) {
	.tst_room-pg-glr {
		grid-template-rows: repeat(4, 7rem);
	}
}

@media (max-width: 1440px) {
	.tst_room-pg-glr {
		grid-template-rows: repeat(4, 6rem);
	}
}

@media (max-width: 1280px) {
	.tst_room-pg-glr {
		grid-template-rows: repeat(4, 5rem);
	}
}

@media (max-width: 1200px) {
	.tst_room-pg-glr {
		grid-template-rows: repeat(4, 5rem);
	}

	.tst_room-pg-main-ctr {
		display: flex;
		flex-direction: column-reverse;
		gap: 2rem 0;
		width: 100%;

		.tst_room-pg-main {
			width: 100%;
		}

		.tst_room-pg-main-cbk {
			width: 100%;
		}
	}
}

@media (max-width: 1025px) {
	.tst_room-pg-glr {
		grid-template-rows: repeat(4, 4rem);
	}

	.tst_room-pg-main-ctr {
		display: flex;
		flex-direction: column-reverse;
		gap: 2rem 0;
		width: 100%;

		.tst_room-pg-main {
			width: 100%;
		}

		.tst_room-pg-main-cbk {
			width: 100%;
		}
	}
}

@media (max-width: 800px) {
	.tst_room-pg-glr {
		grid-template-rows: repeat(4, 5rem);
	}

	.tst_room-pg-main-ctr {
		display: flex;
		flex-direction: column-reverse;
		gap: 2rem 0;
		width: 100%;

		.tst_room-pg-main {
			width: 100%;
		}

		.tst_room-pg-main-cbk {
			width: 100%;
		}
	}

	.tst_room-pg-glr {
		:nth-child(1) {
			grid-column: 1/4;
		}

		:nth-child(3) {
			grid-column: 4/6;
		}

		:nth-child(2) {
			grid-column: 4/6;
			grid-row: 3/5;
		}

		:nth-child(4) {
			display: none;
		}
		:nth-child(5) {
			display: none;
		}
	}
}

@media (max-width: 600px) {
	.tst_room-pg-glr {
		gap: 0.5rem;
		grid-template-rows: repeat(4, 4rem);
	}

	.tst_room-pg-main-ctr {
		.tst_room-pg-main-cbk {
			padding: 2rem 1rem;
		}
	}
}

@media (max-width: 500px) {
	.tst_room-pg-glr {
		display: flex;

		:nth-child(1) {
			width: 100%;
		}
		:nth-child(2) {
			display: none;
		}
		:nth-child(3) {
			display: none;
		}
	}

	.tst_room-pg-main {
		.tst_room-pg-main-hdr {
			padding: 2rem 1rem;

			h1 {
				font-size: 2rem;
			}

			.tst_room-pg-main-hdr-amt {
				flex-wrap: wrap;
			}
		}

		.tst_room-pg-main-desc {
			padding: 2rem 1rem;
		}

		.tst_room-pg-main-fclt {
			padding: 2rem 1rem;

			div {
				flex-wrap: wrap;
			}
		}

		.tst_room-pg-main-rates-prices {
			padding: 2rem 1rem;
		}

		.tst_room-pg-main-hst {
			padding: 2rem 1rem;
		}

		.tst_room-pg-main-rvw {
			padding: 2rem 1rem;

			.tst_room-rvw-card {
				span {
					height: 2rem;
					width: 5rem;
					margin-top: 1rem;
				}
			}
		}
	}
}
